.logo-container{
    z-index: 0;
    width: 400px;
    height: 899px;
    position: absolute;
    top: 140%;
    right: 15%;
    bottom: 70%;
    left: 120%;
    margin: auto;
    opacity: 1;

    svg{
        width: 100%;
        height: auto;
        bottom: 0;
        transform: rotateZ(30deg) !important;
    }

    .solid-logo{
        position: absolute;
        top: auto;
        right: auto;
        bottom: auto ;
        left: 0;
        margin: auto;
        width: 100%;
        opacity: 0;
        transform: rotateZ(30deg);
        z-index: 1;
    }

    .svg-container{
        stroke: #ffd700;
        stroke-width: 20px;
    }
}

@media (max-width:650px) {
    .logo-container{
        position: absolute;
        left: -50px;
        border: red solid 1px;
        // display: flex;
        justify-content: center;
        align-items: left;
        align-content: center;
        z-index: -1;
        // size: 0ch;
        top: 700px;
        width: 70vw;
        height: 120vh;
    }
}